{% extends "base.html" %}
{% block title %}Owner Page{% endblock %}

{% block content %}
<style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
    }
    
    html {
      box-sizing: border-box;
    }
    
    *, *:before, *:after {
      box-sizing: inherit;
    }
    
    .column {
      float: left;
      width: 33.3%;
      margin-bottom: 16px;
      padding: 0 8px;
    }
    
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      margin: 16px;
      background-color: rgb(105, 105, 105);
    }
    
    .about-section {
      padding: 50px;
      text-align: center;
      background-color: rgb(105, 105, 105);
      color: white;
    }
    
    .container {
      padding: 0 16px;
    }
    
    .container::after, .row::after {
      content: "";
      clear: both;
      display: table;
    }
    
    .title {
      color: white;
    }

    h1{
        color: white;
    }
    
    h2 {
      color: black;
    }
    
    p {
      color: white;
    }
    
    @media screen and (max-width: 650px) {
      .column {
        width: 100%;
        display: block;
      }
    }
    
    </style>
    </head>
    <body>
    
    <div class="about-section">
      <h1>The Genetleman's Club</h1>
      <p style="color:white">Fantasy Football League.</p>
      <These> Meet the owners! See their accolades! Find the next champion!.</p>
      </div>
    <!-- Ben -->
    <h2 style="text-align:center">League Owners</h2>
    <div class ="row">
        <div class = "column">
            <div class="card">
                <div class= "container">
                    <h1>Benny B</h1>
                    <p class = "title"> Team Name: Yo Yo Yo Benny B</p>
                    <p>Roster:</p>
                </div>
            </div>
        </div>

        <div class = "column">
            <div class="card">
                <div class= "container">
                    <h1>Zac</h1>
                    <p class = "title"> Team Name: //</p>
                    <p>Roster:</p>
                </div>
            </div>
        </div>

        <div class = "column">
            <div class="card">
                <div class= "container">
                    <h1>Steven</h1>
                    <p class = "title"> Team Name: //</p>
                    <p>Roster:</p>
                </div>
            </div>
        </div>

        <div class = "column">
            <div class="card">
                <div class= "container">
                    <h1>Bruce</h1>
                    <p class = "title"> Team Name: //</p>
                    <p>Roster:</p>
                </div>
            </div>
        </div>

        <div class = "column">
            <div class="card">
                <div class= "container">
                    <h1>Ryan</h1>
                    <p class = "title"> Team Name: //</p>
                    <p>Roster:</p>
                </div>
            </div>
        </div>

        <div class = "column">
            <div class="card">
                <div class= "container">
                    <h1>Sabo</h1>
                    <p class = "title"> Team Name: //</p>
                    <p>Roster:</p>
                </div>
            </div>
        </div>

        <div class = "column">
            <div class="card">
                <div class= "container">
                    <h1>Louch</h1>
                    <p class = "title"> Team Name: //</p>
                    <p>Roster:</p>
                </div>
            </div>
        </div>

        <div class = "column">
            <div class="card">
                <div class= "container">
                    <h1>Jake and Luke</h1>
                    <p class = "title"> Team Name: //</p>
                    <p>Roster:</p>
                </div>
            </div>
        </div>

        <div class = "column">
            <div class="card">
                <div class= "container">
                    <h1>Presely</h1>
                    <p class = "title"> Team Name: //</p>
                    <p>Roster:</p>
                </div>
            </div>
        </div>

        <div class = "column">
            <div class="card">
                <div class= "container">
                    <h1>Dave</h1>
                    <p class = "title"> Team Name: //</p>
                    <p>Roster:</p>
                </div>
            </div>
        </div>

        <div class = "column">
            <div class="card">
                <div class= "container">
                    <h1>Joey</h1>
                    <p class = "title"> Team Name: //</p>
                    <p>Roster:</p>
                </div>
            </div>
        </div>

        <div class = "column">
            <div class="card">
                <div class= "container">
                    <h1>Tj</h1>
                    <p class = "title"> Team Name: //</p>
                    <p>Roster:</p>
                </div>
            </div>
        </div>
    </div>

    </body>

    {% endblock %}